pytools4dart/xsdschemas/directions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Element racine -->
	<xsd:annotation>
		<xsd:appinfo>Fichier directions.xsd -- version 5.7.4</xsd:appinfo> 
		<xsd:documentation xml:lang = "en"> directions</xsd:documentation> 
		<xsd:documentation xml:lang = "fr"> directions</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DartFile">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Directions" type="_Directions" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" default="5.7.4">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="_Directions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AddedDirections" type="_AddedDirections" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Region" type="_Region" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="OversampledPlane" type="_OversampledPlane" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Sun" type="_Sun" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ExactDateHour" type="_ExactDateHour" minOccurs="1" maxOccurs="1" />
			<xsd:element name="SunViewingAngles" type="_SunViewingAngles" minOccurs="1" maxOccurs="1" />
			<xsd:element name="HotSpotProperties" type="_HotSpotProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Penumbra" type="_Penumbra" minOccurs="1" maxOccurs="1" />
			<xsd:element name="AzimuthalOffset" type="_AzimuthalOffset" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ExpertModeZone" type="_ExpertModeZone" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ifCosWeighted" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Cosine Weighted</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Cosine Weighted</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="numberOfPropagationDirections" type="xsd:int" default="100">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Approximate number of directions that sample the 4.Pi space</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Approximate number of directions that sample the 4.Pi space</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="exactDate" type="xsd:int" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> DART provides 3 way to indicate the sun angles:\nBy giving the Downward Solar Angles (Sun to Ground)\nBy giving the Viewing Solar Angle (Ground to Sun)\nSolar angles calculated from the localisation of the scene (longitude and latitude) and the exact (local) date (YY/MM/DD and HH/MM/SS)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> DART provides 3 way to indicate the sun angles:\nBy giving the Downward Solar Angles (Sun to Ground)\nBy giving the Viewing Solar Angle (Ground to Sun)\nSolar angles calculated from the localisation of the scene (longitude and latitude) and the exact (local) date (YY/MM/DD and HH/MM/SS)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_AddedDirections">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ZenithAzimuth" type="_ZenithAzimuth" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LatLon" type="_LatLon" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Rectangle" type="_Rectangle" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Square" type="_Square" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="imageDirection" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If checked, images will be systematically generated in this direction, unless images production has been totally disable in the product tab.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If checked, images will be systematically generated in this direction, unless images production has been totally disable in the product tab.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ifSquareShape" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The shape used to described the opening of the direction cone </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The shape used to described the opening of the direction cone </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directionType" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> To enter directly the angles of the direction, choose "Zenith+Azimuth".\nDart is also able to automaticaly determinate the angles of a direction given the LatLon coordinates of the (theorical) sensor and the scene, while taking in account the curves of the Earth.\nTo do this, choose "LatLon Coordinates".</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> To enter directly the angles of the direction, choose "Zenith+Azimuth".\nDart is also able to automaticaly determinate the angles of a direction given the LatLon coordinates of the (theorical) sensor and the scene, while taking in account the curves of the Earth.\nTo do this, choose "LatLon Coordinates".</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ifPhaseOnly" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The oversampling directions are used only in the calculation of phase functions, which in DART module, are used to increase the directional sampling for selection of instant directional phase function during scattering event. The directions are essentially virtual.       </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The oversampling directions are used only in the calculation of phase functions, which in DART module, are used to increase the directional sampling for selection of instant directional phase function during scattering event. The directions are essentially virtual.       </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ZenithAzimuth">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="directionAzimuthalAngle" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Azimuth angle of the added direction (between O\u00B0 and 360\u00B0)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Azimuth angle of the added direction (between O\u00B0 and 360\u00B0)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directionZenithalAngle" type="xsd:double" default="40.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith angle of the added direction: \n- value in [0\u00B0, 90\u00B0[ adds an upward region. \n- value in ]90\u00B0, 180\u00B0] adds a downward region.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith angle of the added direction: \n- value in [0\u00B0, 90\u00B0[ adds an upward region. \n- value in ]90\u00B0, 180\u00B0] adds a downward region.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_LatLon">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="latitude" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Latitude</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Latitude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="altitude" type="xsd:double" default="35600.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Altitude</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Altitude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="longitude" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Longitude</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Longitude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Rectangle">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="deltaTheta" type="xsd:double" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenithal width of the region in the [0\u00B0, 180\u00B0] range</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenithal width of the region in the [0\u00B0, 180\u00B0] range</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deltaPhi" type="xsd:double" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Azimuthal width of the region in the [0\u00B0, 360\u00B0] range</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Azimuthal width of the region in the [0\u00B0, 360\u00B0] range</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Square">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefineOmega" type="_DefineOmega" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DefineDeltaPhi" type="_DefineDeltaPhi" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DefineDeltaTheta" type="_DefineDeltaTheta" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="widthDefinition" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The parameter used to described the width of the square.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The parameter used to described the width of the square.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DefineOmega">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="omega" type="xsd:double" default="0.001">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Solid Angle (steradians)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Solid Angle (steradians)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DefineDeltaPhi">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="deltaPhi" type="xsd:double" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Azimuthal width of the region in the [0\u00B0, 360\u00B0] range</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Azimuthal width of the region in the [0\u00B0, 360\u00B0] range</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DefineDeltaTheta">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="deltaTheta" type="xsd:double" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenithal width of the region in the [0\u00B0, 180\u00B0] range</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenithal width of the region in the [0\u00B0, 180\u00B0] range</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Region">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ZenithAzimuth" type="_ZenithAzimuth" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LatLon" type="_LatLon" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Rectangle" type="_Rectangle" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Square" type="_Square" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="numberOfDirections" type="xsd:int" default="25">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Number of directions in region. Automatically rounded to the nearest squared integer.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Number of directions in region. Automatically rounded to the nearest squared integer.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ifPhaseOnly" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The oversampling directions are used only in the calculation of phase functions, which in DART module, are used to increase the directional sampling for selection of instant directional phase function during scattering event. The directions are essentially virtual.       </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The oversampling directions are used only in the calculation of phase functions, which in DART module, are used to increase the directional sampling for selection of instant directional phase function during scattering event. The directions are essentially virtual.       </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="imageDirection" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If checked, images will be systematically generated for all the directions in this region, unless images production has been totally disable in the product tab.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If checked, images will be systematically generated for all the directions in this region, unless images production has been totally disable in the product tab.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ifSquareShape" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The shape used to described the region</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The shape used to described the region</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="regionType" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> To enter directly the central angles of the region, choose "Zenith+Azimuth".\nDart is also able to automaticaly determinate the central angles of a region given the LatLon coordinates of the (theorical) sensor and the scene, while taking in account the curves of the Earth.\nTo do this, choose "LatLon Coordinates".</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> To enter directly the central angles of the region, choose "Zenith+Azimuth".\nDart is also able to automaticaly determinate the central angles of a region given the LatLon coordinates of the (theorical) sensor and the scene, while taking in account the curves of the Earth.\nTo do this, choose "LatLon Coordinates".</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ifVirtual" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> All the oversampled direction have virtual property </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> All the oversampled direction have virtual property </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_OversampledPlane">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="thetaRange" type="_thetaRange" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="deltaTheta" type="xsd:double" default="10.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith step between each direction in the oversampled plane in the [0\u00B0, 90\u00B0] range.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith step between each direction in the oversampled plane in the [0\u00B0, 90\u00B0] range.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="omega" type="xsd:double" default="0.001">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Solid angle for each direction in the oversampled plane (in steradians).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Solid angle for each direction in the oversampled plane (in steradians).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="phi" type="xsd:double" default="65.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Plane Azimuth                             </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Plane Azimuth                             </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="defRange" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define Zenith Angle range                             </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define Zenith Angle range                             </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_thetaRange">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Zenith Angle range</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Zenith Angle range</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="theta__0" type="xsd:double" default="-90">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Begin [\u00B0]</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Begin [\u00B0]</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="theta__1" type="xsd:double" default="90">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> End [\u00B0]</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> End [\u00B0]</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Sun">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="sunAzimuthAngle" type="xsd:double" default="45.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Azimuth angle of the sun downward direction in [0\u00B0, 360\u00B0], anticlockwise from the reference direction. \nThe Ox direction (vertical on the 2D display of the scene) is the reference direction in the xy plane.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Azimuth angle of the sun downward direction in [0\u00B0, 360\u00B0], anticlockwise from the reference direction. \nThe Ox direction (vertical on the 2D display of the scene) is the reference direction in the xy plane.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sunZenithAngle" type="xsd:double" default="150.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith angle of the sun direction in the ]90\u00B0, 180\u00B0] range (Sun to Ground)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith angle of the sun direction in the ]90\u00B0, 180\u00B0] range (Sun to Ground)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dayOfTheYear" type="xsd:int" default="-1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Day of the year (from 1 to 365). Set it to -1 to ignore. Used to compute the Sun-Earth distance and the subsequent correction to apply to the solar illumination. </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Day of the year (from 1 to 365). Set it to -1 to ignore. Used to compute the Sun-Earth distance and the subsequent correction to apply to the solar illumination. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ExactDateHour">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="hour" type="xsd:int" default="12">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Hours into the day</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Hours into the day</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="daylightSavingTime" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Click this if the simulated area is observing DST at the given date.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Click this if the simulated area is observing DST at the given date.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="month" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Month into the year</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Month into the year</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="second" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Seconds into the minute</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Seconds into the minute</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="year" type="xsd:int" default="2012">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Year (From 1400 to 10 000)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Year (From 1400 to 10 000)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="timezone" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Local Time Zone (UTC) : if the time is given as local time, this must be the time difference with UTC. If the time is given as UTC time, this must be 0</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Local Time Zone (UTC) : if the time is given as local time, this must be the time difference with UTC. If the time is given as UTC time, this must be 0</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="day" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Day of the month</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Day of the month</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="minute" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Minutes into the hour</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Minutes into the hour</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="localTime" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Local time</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Local time</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SunViewingAngles">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="sunViewingAzimuthAngle" type="xsd:double" default="225.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Azimuth angle of the sun downward direction in [0\u00B0, 360\u00B0], anticlockwise from the reference direction. \nThe Ox direction (vertical on the 2D display of the scene) is the reference direction in the xy plane.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Azimuth angle of the sun downward direction in [0\u00B0, 360\u00B0], anticlockwise from the reference direction. \nThe Ox direction (vertical on the 2D display of the scene) is the reference direction in the xy plane.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sunViewingZenithAngle" type="xsd:double" default="30.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith angle of the sun direction in the [0\u00B0, 90\u00B0[ range (Ground to Sun)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith angle of the sun direction in the [0\u00B0, 90\u00B0[ range (Ground to Sun)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dayOfTheYear" type="xsd:int" default="-1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Day of the year (from 1 to 365). Set it to -1 to ignore. Used to compute the Sun-Earth distance and the subsequent correction to apply to the solar illumination. </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Day of the year (from 1 to 365). Set it to -1 to ignore. Used to compute the Sun-Earth distance and the subsequent correction to apply to the solar illumination. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_HotSpotProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HotSpotUpwardRegion" type="_HotSpotUpwardRegion" minOccurs="1" maxOccurs="1" />
			<xsd:element name="HotSpotDownwardRegion" type="_HotSpotDownwardRegion" minOccurs="1" maxOccurs="1" />
			<xsd:element name="HotSpotOversampledPlane" type="_HotSpotOversampledPlane" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="oversampleDownwardRegion" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Adds directions around the downward hot spot direction, with very small solid angles</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Adds directions around the downward hot spot direction, with very small solid angles</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hotSpotPerpendicularPlane" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Oversample the plane perpendicular to the solar plane (directions with same azimuth).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Oversample the plane perpendicular to the solar plane (directions with same azimuth).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hotSpotParallelPlane" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Oversample the solar plane (directions with sun direction azimuth).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Oversample the solar plane (directions with sun direction azimuth).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oversampleUpwardRegion" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Adds directions around the upward hot spot direction, with very small solid angles</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Adds directions around the upward hot spot direction, with very small solid angles</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_HotSpotUpwardRegion">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="omega" type="xsd:double" default="0.01">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Region Solid Angle (steradians)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Region Solid Angle (steradians)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="numberOfDirections" type="xsd:int" default="25">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Number of directions in region. Automatically rounded to the nearest squared integer.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Number of directions in region. Automatically rounded to the nearest squared integer.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_HotSpotDownwardRegion">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="omega" type="xsd:double" default="0.01">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Region Solid Angle (steradians)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Region Solid Angle (steradians)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="numberOfDirections" type="xsd:int" default="25">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Number of directions in region. Automatically rounded to the nearest squared integer.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Number of directions in region. Automatically rounded to the nearest squared integer.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_HotSpotOversampledPlane">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="deltaTheta" type="xsd:double" default="10.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith step in the oversampled plane (solar plane or perpendicular to solar plane).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith step in the oversampled plane (solar plane or perpendicular to solar plane).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="omega" type="xsd:double" default="0.001">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Solid angle for each direction in the Hot Spot oversampled plane (in steradians).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Solid angle for each direction in the Hot Spot oversampled plane (in steradians).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Penumbra">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SunSphere" type="_SunSphere" minOccurs="1" maxOccurs="1" />
			<xsd:element name="SunIcoSphere" type="_SunIcoSphere" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="mode" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The sun penumbra is the region in which only a portion of the sun is obscured by the occluding body.                 </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The sun penumbra is the region in which only a portion of the sun is obscured by the occluding body.                 </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SunSphere">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="nbPointsOnSphere" type="xsd:int" default="4">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Defines the numbers of points to be randomly sampled on the sun surface IN ADDITION of the central position.\n Multiply linearly the computation time of the direct illumination phase.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Defines the numbers of points to be randomly sampled on the sun surface IN ADDITION of the central position.\n Multiply linearly the computation time of the direct illumination phase.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SunIcoSphere">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="nbSudivisions" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Total number of points will be: ~10 * 4 ^ (nb_subdivisions)\nThe sun is defined as an Icosahedron: a regular polyhedron with 20 equilateral triangles of same area. Each subdivision multiply by 4 the number of triangles. Half the faces are going to illuminate the scene.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Total number of points will be: ~10 * 4 ^ (nb_subdivisions)\nThe sun is defined as an Icosahedron: a regular polyhedron with 20 equilateral triangles of same area. Each subdivision multiply by 4 the number of triangles. Half the faces are going to illuminate the scene.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_AzimuthalOffset">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="directionalAzimuthalOffset" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Example: to get a 30deg scene azimuth rotation, the offsets of sun and viewing directions must be equal to 30deg</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Example: to get a 30deg scene azimuth rotation, the offsets of sun and viewing directions must be equal to 30deg</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sunAzimuthalOffset" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Example: to get a 30deg scene azimuth rotation, the offsets of sun and viewing directions must be equal to 30deg</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Example: to get a 30deg scene azimuth rotation, the offsets of sun and viewing directions must be equal to 30deg</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ExpertModeZone">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="numberOfAngularSector" type="xsd:int" default="10">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Enter the n number of angular sectors.\nIn iterations 1, the angular distribution of intercepted radiation is stored in n angular sectors, for improving further scattering accuracy.\nThe maximal number of sectors is the actual number of directions.\nThe sector value of a direction is stored in the 4th column of the direction file.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Enter the n number of angular sectors.\nIn iterations 1, the angular distribution of intercepted radiation is stored in n angular sectors, for improving further scattering accuracy.\nThe maximal number of sectors is the actual number of directions.\nThe sector value of a direction is stored in the 4th column of the direction file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="numberOfLayers" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> 0 for default value generated by sphere directions, or enter a positive integer for the number of layers to generate the directions in one hemisphere.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> 0 for default value generated by sphere directions, or enter a positive integer for the number of layers to generate the directions in one hemisphere.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>