pytools4dart/xsdschemas/inversion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Element racine -->
	<xsd:annotation>
		<xsd:appinfo>Fichier inversion.xsd -- version 5.7.4</xsd:appinfo> 
		<xsd:documentation xml:lang = "en"> inversion</xsd:documentation> 
		<xsd:documentation xml:lang = "fr"> inversion</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DartFile">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="DartInversion" type="_DartInversion" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" default="5.7.4">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="_DartInversion">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Inversion : Input Parameters</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Inversion : Input Parameters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InversionImages" type="_InversionImages" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Inversion" type="_Inversion" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="runInversion" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Run Inversion</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Run Inversion</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionImages">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaskProperties" type="_MaskProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ImageProperties" type="_ImageProperties" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="isMask" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Is mask</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Is mask</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_MaskProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Mask properties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Mask properties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="dataMaskFile" type="xsd:string" default="mask.mp#">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Data mask file</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Data mask file</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ImageProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Image properties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Image properties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SunViewAngleProperties" type="_SunViewAngleProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ImageNumber" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Image number</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Image number</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dataFileName" type="xsd:string" default="image.mp#">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Data file name</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Data file name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicativeFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spectralBandKey" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectral band number for this image</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectral band number for this image</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SunViewAngleProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Sun-View angle properties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Sun-View angle properties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="viewZenithalAngle" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> View zenith angle</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> View zenith angle</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="viewAzimuthalAngle" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> View azimuth angle</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> View azimuth angle</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sunZenithalAngle" type="xsd:double" default="30">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Sun zenith angle</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Sun zenith angle</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sunAzimuthalAngle" type="xsd:double" default="225">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Sun azimuth angle</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Sun azimuth angle</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Inversion">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Inversion</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Inversion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InversionDatabase" type="_InversionDatabase" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InversionInterpolation" type="_InversionInterpolation" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InversionSimplexConvergence" type="_InversionSimplexConvergence" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InversionParameters" type="_InversionParameters" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_InversionDatabase">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Inversion database</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Inversion database</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="GroundSpectralModel" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Ground spectral model that was used for creating the database (LUT)       </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Ground spectral model that was used for creating the database (LUT)       </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="InversionDatabase" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Inversion database</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Inversion database</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Lambertian.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="InversionCoefficientModelName" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Analytic reflectance model</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Analytic reflectance model</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionInterpolation">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="interpolationPoints" type="xsd:int" default="3">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Number of interpolations points on each side of the point that is calculated (interpolated).         </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Number of interpolations points on each side of the point that is calculated (interpolated).         </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="interpolationMethod" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Interpolation method</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Interpolation method</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionSimplexConvergence">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ThresholdRelativeError" type="_ThresholdRelativeError" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="errorKind" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> It is a error that is computed in the inversion procedure \n More details in p.51 PHD of P.Esteve (1998) (http://www.cesbio.ups-tlse.fr/data_all/theses/Th_esteve.pdf) \nA simplex is made of 3 points that are iteratively up-dated, one per iteration.\nThe iteration stops when the 3 points give identical errors (When difference between values of errors is less than value setted in next case) .\nThe error is the difference between the predicted and image reflectance values.\nThe larger number of iterations is 5000/(number of free variables to invert + 1).\nNext simplex is launch if maximum simplexes number is not reached and if error of best simplex computed is upper than error given.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> It is a error that is computed in the inversion procedure \n More details in p.51 PHD of P.Esteve (1998) (http://www.cesbio.ups-tlse.fr/data_all/theses/Th_esteve.pdf) \nA simplex is made of 3 points that are iteratively up-dated, one per iteration.\nThe iteration stops when the 3 points give identical errors (When difference between values of errors is less than value setted in next case) .\nThe error is the difference between the predicted and image reflectance values.\nThe larger number of iterations is 5000/(number of free variables to invert + 1).\nNext simplex is launch if maximum simplexes number is not reached and if error of best simplex computed is upper than error given.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="errorValueConvergence" type="xsd:double" default="0.00017205">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Difference between worst and best error of simplexes computed.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Difference between worst and best error of simplexes computed.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="errorValueStop" type="xsd:double" default="0.01">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The creation of simplex is stopped if the error of the simplex is less than the error (and if the maximum number of simplexes is not reached). </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The creation of simplex is stopped if the error of the simplex is less than the error (and if the maximum number of simplexes is not reached). </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="maxSimplexNumber" type="xsd:int" default="5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Maximum number of simplexes (if simplex relative error threshold is not reached)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Maximum number of simplexes (if simplex relative error threshold is not reached)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ThresholdRelativeError">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="errorValueThreshold" type="xsd:double" default="0.03">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Threshold value</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Threshold value</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionParameters">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Inversion parameters</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Inversion parameters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="freeParameters" type="_freeParameters" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_freeParameters">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Free parameter</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Free parameter</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="freeParameterGlobalValue" type="_freeParameterGlobalValue" minOccurs="1" maxOccurs="1" />
			<xsd:element name="freeParameterValue" type="_freeParameterValue" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="InversionSpectra" type="_InversionSpectra" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InversionSpectra1" type="_InversionSpectra1" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InversionSpectra2" type="_InversionSpectra2" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InversionSpectra3" type="_InversionSpectra3" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ParameterType" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of the parameter used for inversion</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of the parameter used for inversion</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="indexLUTEquivalent" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> This index have to be specified for giving equivalence between inversion parameters and LUT free parameters. The index 0 means to the first free parameter.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> This index have to be specified for giving equivalence between inversion parameters and LUT free parameters. The index 0 means to the first free parameter.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_freeParameterGlobalValue">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> freeParameterGlobalValue</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> freeParameterGlobalValue</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="ParamValue" type="xsd:double" default="0.1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Value of the parameter</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Value of the parameter</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_freeParameterValue">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Free parameter value</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Free parameter value</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="ParamValue" type="xsd:double" default="0.1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Value of the parameter</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Value of the parameter</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ImageNumber_coef" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Image number</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Image number</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionSpectra">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Ground spectra    </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Ground spectra    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="spectra" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Lambertian.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionSpectra1">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Ground 1 spectra            </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Ground 1 spectra            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="spectra1" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Lambertian.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionSpectra2">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Ground 1 spectra         </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Ground 1 spectra         </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="databaseName" type="xsd:string" default="Lambertian.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spectra1" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spectra2" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra 2</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra 2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InversionSpectra3">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Ground 1 spectra        </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Ground 1 spectra        </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="databaseName" type="xsd:string" default="Lambertian.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spectra1" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spectra2" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra 2</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra 2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="spectra3" type="xsd:string" default="">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Spectra 3</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Spectra 3</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>