pytools4dart/xsdschemas/maket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Element racine -->
	<xsd:annotation>
		<xsd:appinfo>Fichier maket.xsd -- version 5.7.4</xsd:appinfo> 
		<xsd:documentation xml:lang = "en"> maket</xsd:documentation> 
		<xsd:documentation xml:lang = "fr"> maket</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DartFile">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Maket" type="_Maket" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" default="5.7.4">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="_Maket">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Scene" type="_Scene" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RandomGenerationParameters" type="_RandomGenerationParameters" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Soil" type="_Soil" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LatLon" type="_LatLon" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InfiniteSlopeProperties" type="_InfiniteSlopeProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="dartZone" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The actual DART scene can a sub-rectangular part of the total specified scene. Then, crowns of neighbor trees can appear in the simulated scene</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The actual DART scene can a sub-rectangular part of the total specified scene. Then, crowns of neighbor trees can appear in the simulated scene</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="exactlyPeriodicScene" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> juxtaposition of a unique pattern\nContninuous scene: Altitudes of juxtaposed patterns are equal or are shifted with values equal to altitude difference the scene edges. This option ensures the continuity of topography. It allows one to simulate infinite slopes.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> juxtaposition of a unique pattern\nContninuous scene: Altitudes of juxtaposed patterns are equal or are shifted with values equal to altitude difference the scene edges. This option ensures the continuity of topography. It allows one to simulate infinite slopes.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useRandomGenerationSeed" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use a random seed for random operations.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use a random seed for random operations.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Scene">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CellDimensions" type="_CellDimensions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="SceneDimensions" type="_SceneDimensions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DartZoneProperties" type="_DartZoneProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_CellDimensions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="x" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Cell dimension along the x and y directions</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Cell dimension along the x and y directions</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="z" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Cell dimension along the z direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Cell dimension along the z direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SceneDimensions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="y" type="xsd:double" default="40.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Scene dimension along the y direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Scene dimension along the y direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="x" type="xsd:double" default="40.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Scene dimension along the x direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Scene dimension along the x direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DartZoneProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Point2D" type="_Point2D" minOccurs="2" maxOccurs="2" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Point2D">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="y" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> y coordinate of the upper left or lower right corner of the rectangular sub zone</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> y coordinate of the upper left or lower right corner of the rectangular sub zone</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="x" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> x coordinate of the upper left or lower right corner of the rectangular sub zone</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> x coordinate of the upper left or lower right corner of the rectangular sub zone</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RandomGenerationParameters">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Random generation parameters</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Random generation parameters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="generationSeed" type="xsd:int" default="733426921">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Seed for random operations.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Seed for random operations.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Soil">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Topography" type="_Topography" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEM_properties" type="_DEM_properties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_OpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Lambertian_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ThermalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexTemperature" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> indexTemperature</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> indexTemperature</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idTemperature" type="xsd:string" default="ThermalFunction290_310">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Thermal Function ID</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Thermal Function ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Topography">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TopographyProperties" type="_TopographyProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="presenceOfTopography" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Presence or not of a Digital Elevation Model</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Presence or not of a Digital Elevation Model</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_TopographyProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="fileName" type="xsd:string" default="DEM.mp#">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the DEM (Digital Elevation Map). This is a raster map coded in float numbers (4 bytes /pixel) </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the DEM (Digital Elevation Map). This is a raster map coded in float numbers (4 bytes /pixel) </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEM_properties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DEMGenerator" type="_DEMGenerator" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="createTopography" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Create or Convert DEM</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Create or Convert DEM</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEMGenerator">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DEM_1" type="_DEM_1" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEM_2" type="_DEM_2" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEM_3" type="_DEM_3" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEM_4" type="_DEM_4" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEM_5" type="_DEM_5" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="caseDEM" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> caseDEM</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> caseDEM</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="outputFileName" type="xsd:string" default="DEM.mp#">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> outputFileName</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> outputFileName</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEM_1">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DEMproperties_0" type="_DEMproperties_0" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEMproperties_1" type="_DEMproperties_1" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEMproperties_3" type="_DEMproperties_3" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEMproperties_5" type="_DEMproperties_5" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DEMproperties_6" type="_DEMproperties_6" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="curveShape" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Theorical DEM curve shape</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Theorical DEM curve shape</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEMproperties_0">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="heightDEM" type="xsd:double" default="3.5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> heightDEM</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> heightDEM</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEMproperties_1">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="distance2" type="xsd:double" default="5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Width of the valley</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Width of the valley</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="az_slope" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Azimuth angle of the slopes</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Azimuth angle of the slopes</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distance1" type="xsd:double" default="10">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Distance of valley from origin</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Distance of valley from origin</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="heightPlateau1" type="xsd:double" default="10">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Height of the first plateau</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Height of the first plateau</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="heightPlateau2" type="xsd:double" default="7">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Height of the second plateau</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Height of the second plateau</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="z_slope_2" type="xsd:double" default="33">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith angle of the second slope</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith angle of the second slope</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="z_slope_1" type="xsd:double" default="33">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Zenith angle of the first slope</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Zenith angle of the first slope</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEMproperties_3">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="amplitudeDEM" type="xsd:double" default="3.5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> maximum height of the gaussian bell</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> maximum height of the gaussian bell</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sigmaY" type="xsd:double" default="10.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Adjusting the shape of the gaussian bell along y axis</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Adjusting the shape of the gaussian bell along y axis</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sigmaX" type="xsd:double" default="10.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Adjusting the shape of the gaussian bell along x axis</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Adjusting the shape of the gaussian bell along x axis</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deplacementX" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Deplacement along the X of the origin of the gaussian bell (MNT is repeated if it extends beyond the scene)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Deplacement along the X of the origin of the gaussian bell (MNT is repeated if it extends beyond the scene)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deplacementY" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Deplacement along the Y of the origin of the gaussian bell (MNT is repeated if it extends beyond the scene)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Deplacement along the Y of the origin of the gaussian bell (MNT is repeated if it extends beyond the scene)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEMproperties_5">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="amplitudeDEM" type="xsd:double" default="3.5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> maximum height of the gaussian bell</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> maximum height of the gaussian bell</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEMproperties_6">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="patternNumber" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Number of sine curve</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Number of sine curve</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="amplitudeDEM" type="xsd:double" default="3.5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> maximum height of the gaussian bell</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> maximum height of the gaussian bell</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEM_2">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="originY" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Y translated coordinate origin</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Y translated coordinate origin</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="originX" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> X translated coordinate origin</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> X translated coordinate origin</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fileName" type="xsd:string" default="DEM.mp#">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEM_3">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="originY" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Y translated coordinate origin</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Y translated coordinate origin</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="originX" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> X translated coordinate origin</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> X translated coordinate origin</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fileName" type="xsd:string" default="hills.txt">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEM_4">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="numberOfRotation" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> numberOfRotation</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> numberOfRotation</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fileName" type="xsd:string" default="DEM.mp#">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DEM_5">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="dataEncoding" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The encoding format in which are store the values of the raster</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The encoding format in which are store the values of the raster</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dataFormat" type="xsd:int" default="8">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Of which type are the value of the pixels in the raster file </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Of which type are the value of the pixels in the raster file </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fileName" type="xsd:string" default="Raster.img">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_LatLon">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="latitude" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Latitude</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Latitude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="altitude" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Altitude</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Altitude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="longitude" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Longitude</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Longitude</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InfiniteSlopeProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="connectionPercentageY" type="xsd:double" default="5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define the % of the DEM that will be cropped along the Y axis to be replaced with a smooth transition between borders.\nWithout this smooth transition, abrupt cliffs will be generated to avoid holes in the scene.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define the % of the DEM that will be cropped along the Y axis to be replaced with a smooth transition between borders.\nWithout this smooth transition, abrupt cliffs will be generated to avoid holes in the scene.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="connectionPercentageX" type="xsd:double" default="5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define the % of the DEM that will be cropped along the X axis to be replaced with a smooth transition between borders.\nWithout this smooth transition, abrupt cliffs will be generated to avoid holes in the scene.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define the % of the DEM that will be cropped along the X axis to be replaced with a smooth transition between borders.\nWithout this smooth transition, abrupt cliffs will be generated to avoid holes in the scene.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>