pytools4dart/xsdschemas/urban.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Element racine -->
	<xsd:annotation>
		<xsd:appinfo>Fichier urban.xsd -- version 5.7.4</xsd:appinfo> 
		<xsd:documentation xml:lang = "en"> urban</xsd:documentation> 
		<xsd:documentation xml:lang = "fr"> urban</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DartFile">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Urban" type="_Urban" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" default="5.7.4">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="_Urban">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Urban</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Urban</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Buildings" type="_Buildings" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Roads" type="_Roads" minOccurs="1" maxOccurs="1" />
			<xsd:element name="SmallWalls" type="_SmallWalls" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Buildings">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Buildings</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Buildings</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Building" type="_Building" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Building">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Building</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Building</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="WallProperties" type="_WallProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RoofProperties" type="_RoofProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="House" type="_House" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="hidden" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If you select this option, this entire building are not use in all DART modules, \n it's useful if you want conserve building properties backup without delete this for tests</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If you select this option, this entire building are not use in all DART modules, \n it's useful if you want conserve building properties backup without delete this for tests</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="doubleFaceBuilding" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> - Double faces : \ninternal and external faces \n -Simple face : \nonly external faces </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> - Double faces : \ninternal and external faces \n -Simple face : \nonly external faces </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isDisplayed" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_WallProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> WallProperties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> WallProperties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExternalFacesOpticalPropertyLink" type="_ExternalFacesOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ExternalFacesThermalPropertyLink" type="_ExternalFacesThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InternalFacesOpticalPropertyLink" type="_InternalFacesOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InternalFacesThermalPropertyLink" type="_InternalFacesThermalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="sameWall" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The walls of all the houses of this building have the same optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The walls of all the houses of this building have the same optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ExternalFacesOpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> ExternalFacesOpticalPropertyLink</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> ExternalFacesOpticalPropertyLink</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Lambertian_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ExternalFacesThermalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> ExternalFacesThermalPropertyLink</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> ExternalFacesThermalPropertyLink</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexTemperature" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> indexTemperature</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> indexTemperature</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idTemperature" type="xsd:string" default="ThermalFunction290_310">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Thermal Function ID</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Thermal Function ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InternalFacesOpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> InternalFacesOpticalPropertyLink</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> InternalFacesOpticalPropertyLink</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Lambertian_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InternalFacesThermalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> InternalFacesThermalPropertyLink</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> InternalFacesThermalPropertyLink</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexTemperature" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> indexTemperature</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> indexTemperature</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idTemperature" type="xsd:string" default="ThermalFunction290_310">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Thermal Function ID</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Thermal Function ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RoofProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> RoofProperties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> RoofProperties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExternalFacesOpticalPropertyLink" type="_ExternalFacesOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ExternalFacesThermalPropertyLink" type="_ExternalFacesThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InternalFacesOpticalPropertyLink" type="_InternalFacesOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InternalFacesThermalPropertyLink" type="_InternalFacesThermalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="sameRoof" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The roofs of all the houses of this building have the same optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The roofs of all the houses of this building have the same optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_House">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> House</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> House</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Wall" type="_Wall" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RoofNone" type="_RoofNone" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RoofClassic" type="_RoofClassic" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RoofPlate" type="_RoofPlate" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RoofComplex" type="_RoofComplex" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="typeRoof" type="xsd:int" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The house has a roof defined by:\n- the 4 corners of the house walls are simply connected together to generate the roof (option "Basic without thickness"), or\n- the 4 corners of the house walls are simply connected together to generate the roof with an added thickness (option "Basic with thickness"),  or\n- 2 additional points (option "Classic"), or\n- 4 additional points (option "Complex"). </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The house has a roof defined by:\n- the 4 corners of the house walls are simply connected together to generate the roof (option "Basic without thickness"), or\n- the 4 corners of the house walls are simply connected together to generate the roof with an added thickness (option "Basic with thickness"),  or\n- 2 additional points (option "Classic"), or\n- 4 additional points (option "Complex"). </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hidden" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If you select this option, this house are not use in all DART modules, \n it's useful if you want conserve house properties backup without delete this for tests</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If you select this option, this house are not use in all DART modules, \n it's useful if you want conserve house properties backup without delete this for tests</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Wall">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Wall</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Wall</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Polygon3D" type="_Polygon3D" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OpticalProperties" type="_OpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalProperties" type="_ThermalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerOpticalProperties" type="_InnerOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerThermalProperties" type="_InnerThermalProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Polygon3D">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Polygon3D</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Polygon3D</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Point3D" type="_Point3D" minOccurs="4" maxOccurs="4" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Point3D">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Point3D</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Point3D</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="y" type="xsd:double" default="10.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> y coordinate of a top corner of a wall of the house. Counter-clockwise input</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> y coordinate of a top corner of a wall of the house. Counter-clockwise input</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="x" type="xsd:double" default="10.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> x coordinate of a top corner of a wall of the house. Counter-clockwise input</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> x coordinate of a top corner of a wall of the house. Counter-clockwise input</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="z" type="xsd:double" default="2.50">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> z coordinate of a top corner of a wall of the house. Counter-clockwise input</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> z coordinate of a top corner of a wall of the house. Counter-clockwise input</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_OpticalProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> OpticalProperties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> OpticalProperties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="4" maxOccurs="4" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_OpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> OpticalPropertyLink</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> OpticalPropertyLink</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Lambertian_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> wall from ground to Point3D 4 and 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> wall from ground to Point3D 4 and 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ThermalProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> ThermalProperties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> ThermalProperties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="4" maxOccurs="4" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_ThermalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> ThermalPropertyLink</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> ThermalPropertyLink</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexTemperature" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> indexTemperature</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> indexTemperature</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idTemperature" type="xsd:string" default="ThermalFunction290_310">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Thermal Function ID</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Thermal Function ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_InnerOpticalProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> InnerOpticalProperties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> InnerOpticalProperties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="4" maxOccurs="4" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_InnerThermalProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> InnerThermalProperties</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> InnerThermalProperties</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="4" maxOccurs="4" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_RoofNone">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> RoofNone</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> RoofNone</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalProperties" type="_OpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalProperties" type="_ThermalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerOpticalProperties" type="_InnerOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerThermalProperties" type="_InnerThermalProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_RoofClassic">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> RoofClassic</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> RoofClassic</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Polygon3D" type="_Polygon3D" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OpticalProperties" type="_OpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalProperties" type="_ThermalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerOpticalProperties" type="_InnerOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerThermalProperties" type="_InnerThermalProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_RoofPlate">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> RoofPlate</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> RoofPlate</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalProperties" type="_OpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalProperties" type="_ThermalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerOpticalProperties" type="_InnerOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerThermalProperties" type="_InnerThermalProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="height" type="xsd:double" default="0.05">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Vertical translation applied to the 4 corners of the walls for obtaining the 4 points that define the roof </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Vertical translation applied to the 4 corners of the walls for obtaining the 4 points that define the roof </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RoofComplex">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> RoofComplex</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> RoofComplex</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Polygon3D" type="_Polygon3D" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OpticalProperties" type="_OpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalProperties" type="_ThermalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerOpticalProperties" type="_InnerOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InnerThermalProperties" type="_InnerThermalProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Roads">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Roads</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Roads</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Road" type="_Road" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Road">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Road</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Road</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Path2D" type="_Path2D" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="hidden" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If you select this option, this road are not use in all DART modules, \n it's useful if you want conserve road properties backup without delete this for tests</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If you select this option, this road are not use in all DART modules, \n it's useful if you want conserve road properties backup without delete this for tests</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isDisplayed" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Path2D">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Path2D</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Path2D</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Point2D" type="_Point2D" minOccurs="2" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="width" type="xsd:double" default="3.000000">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> interpolation).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> interpolation).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Point2D">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Point2D</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Point2D</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="y" type="xsd:double" default="22.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> y coordinate of a point of the road</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> y coordinate of a point of the road</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="x" type="xsd:double" default="22.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> x coordinate of a point of the road</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> x coordinate of a point of the road</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SmallWalls">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> SmallWalls</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> SmallWalls</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SmallWall" type="_SmallWall" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_SmallWall">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> SmallWall</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> SmallWall</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Polygon3D" type="_Polygon3D" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ExternalFacesOpticalPropertyLink" type="_ExternalFacesOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ExternalFacesThermalPropertyLink" type="_ExternalFacesThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InternalFacesOpticalPropertyLink" type="_InternalFacesOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="InternalFacesThermalPropertyLink" type="_InternalFacesThermalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="hidden" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If you select this option, this wall are not use in all DART modules, \n it's useful if you want conserve wall properties backup without delete this for tests</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If you select this option, this wall are not use in all DART modules, \n it's useful if you want conserve wall properties backup without delete this for tests</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="doubleFaceBuilding" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> - Double faces : \ninternal and external faces \n -Simple face : \nonly external faces </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> - Double faces : \ninternal and external faces \n -Simple face : \nonly external faces </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isDisplayed" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>