pytools4dart/core_ui/object_3d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Element racine -->
	<xsd:annotation>
		<xsd:appinfo>Fichier object_3d.xsd -- version 5.7.1</xsd:appinfo> 
		<xsd:documentation xml:lang = "en"> </xsd:documentation> 
		<xsd:documentation xml:lang = "fr"> object_3d</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DartFile">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="object_3d" type="_object_3d" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" default="5.7.1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="_object_3d">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Types" type="_Types" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ObjectList" type="_ObjectList" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ObjectFields" type="_ObjectFields" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Types">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultTypes" type="_DefaultTypes" minOccurs="1" maxOccurs="1" />
			<xsd:element name="CustomTypes" type="_CustomTypes" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_DefaultTypes">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DefaultType" type="_DefaultType" minOccurs="2" maxOccurs="2" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_DefaultType">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexOT" type="xsd:int" default="101">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Color/name Idenfier. Do no modify!</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Color/name Idenfier. Do no modify!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="typeColor" type="xsd:string" default="125 0 125">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define the element color. Affect the interface and color results of Dart.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define the element color. Affect the interface and color results of Dart.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" default="Default_Object">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name. (optional)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name. (optional)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_CustomTypes">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type" type="_Type" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexOT" type="xsd:int" default="-1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Color/name Idenfier. Do no modify!</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Color/name Idenfier. Do no modify!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="typeColor" type="xsd:string" default="125 0 125">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define the element color. Affect the interface and color results of Dart.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define the element color. Affect the interface and color results of Dart.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" default="Type">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name. (optional)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name. (optional)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ObjectList">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Object" type="_Object" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Object">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GeometricProperties" type="_GeometricProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ObjectOpticalProperties" type="_ObjectOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ObjectTypeProperties" type="_ObjectTypeProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Groups" type="_Groups" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="objectDEMMode" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Defines how this object behaves toward the DEM, including being an element of the DEM.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Defines how this object behaves toward the DEM, including being an element of the DEM.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" default="Object">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's name. (optional)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's name. (optional)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isDisplayed" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hasGroups" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> DO NOT MODIFY!</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> DO NOT MODIFY!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="num" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="file_src" type="xsd:string" default="exemple.wrl">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's source file. Contain the object's 3D structure (in either VRML97, X3D, OBJECT etc...).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's source file. Contain the object's 3D structure (in either VRML97, X3D, OBJECT etc...).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="objectColor" type="xsd:string" default="125 0 125">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Color of this object in the Editor's 2D view. Does not affect the results from the software.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Color of this object in the Editor's 2D view. Does not affect the results from the software.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hidden" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If you select this option, this object 3d are not use in all DART modules, \n it's useful if you want conserve object 3d properties backup without delete this for testsobject_3d.ObjectList.Object.num                  </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If you select this option, this object 3d are not use in all DART modules, \n it's useful if you want conserve object 3d properties backup without delete this for testsobject_3d.ObjectList.Object.num                  </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="repeatedOnBorder" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If part of the object goes beyond the border of the scene, this part is copied on the other side of the scene. </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If part of the object goes beyond the border of the scene, this part is copied on the other side of the scene. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_GeometricProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PositionProperties" type="_PositionProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Dimension3D" type="_Dimension3D" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ScaleProperties" type="_ScaleProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RotationProperties" type="_RotationProperties" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_PositionProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="zpos" type="xsd:double" default="0.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's elevation.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's elevation.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="xpos" type="xsd:double" default="2.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's position on the X axis.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's position on the X axis.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ypos" type="xsd:double" default="2.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's position on the Y axis.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's position on the Y axis.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Dimension3D">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="zdim" type="xsd:double" default="1.">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's original dimension on the Z axis, before scaling.\n To multiply by the scaling factor on the Z axis to get the final dimension in Maket.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's original dimension on the Z axis, before scaling.\n To multiply by the scaling factor on the Z axis to get the final dimension in Maket.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ydim" type="xsd:double" default="1.">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's original dimension on the Y axis, before scaling.\n To multiply by the scaling factor on the Y axis to get the final dimension in Maket.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's original dimension on the Y axis, before scaling.\n To multiply by the scaling factor on the Y axis to get the final dimension in Maket.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="xdim" type="xsd:double" default="1.">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's original dimension on the X axis, before scaling.\n To multiply by the scaling factor on the X axis to get the final dimension in Maket.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's original dimension on the X axis, before scaling.\n To multiply by the scaling factor on the X axis to get the final dimension in Maket.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ScaleProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="yScaleDeviation" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Standard deviation used to compute the Gauss probability of the object's scale on the Y axis.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Standard deviation used to compute the Gauss probability of the object's scale on the Y axis.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="zscale" type="xsd:double" default="1.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's scaling factor on the Z axis.\nDefault value: 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's scaling factor on the Z axis.\nDefault value: 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="xscale" type="xsd:double" default="1.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's scaling factor on the X axis.\nDefault value: 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's scaling factor on the X axis.\nDefault value: 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="yscale" type="xsd:double" default="1.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Object's scaling factor on the Y axis.\nDefault value: 1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Object's scaling factor on the Y axis.\nDefault value: 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="xScaleDeviation" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Standard deviation used to compute the Gauss probability of the object's scale on the X axis.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Standard deviation used to compute the Gauss probability of the object's scale on the X axis.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="zScaleDeviation" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Standard deviation used to compute the Gauss probability of the object's scale on the Z axis.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Standard deviation used to compute the Gauss probability of the object's scale on the Z axis.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RotationProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="xRotDeviation" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Standard deviation used to compute the Gauss probability of the object's intrinsic rotation.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Standard deviation used to compute the Gauss probability of the object's intrinsic rotation.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="xrot" type="xsd:double" default="0.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Defines the rotation angle of the object on itself.\nAccepted angles are in the range [0,360[. Default value: 0.\nYou can use the 3D View in the Object/Model node to gauge the effect of the field.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Defines the rotation angle of the object on itself.\nAccepted angles are in the range [0,360[. Default value: 0.\nYou can use the 3D View in the Object/Model node to gauge the effect of the field.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="zrot" type="xsd:double" default="0.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Defines the orientation angle of the inclination of the object.\nThe orientation is applied counter-clockwise (South(0\u00B0)-East(90\u00B0)-North(180\u00B0)-West(270\u00B0))\nAccepted angles are in the range [0,360[. Default value: 0.\nYou can use the 3D View in the Object node to gauge the effect of the field.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Defines the orientation angle of the inclination of the object.\nThe orientation is applied counter-clockwise (South(0\u00B0)-East(90\u00B0)-North(180\u00B0)-West(270\u00B0))\nAccepted angles are in the range [0,360[. Default value: 0.\nYou can use the 3D View in the Object node to gauge the effect of the field.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="yrot" type="xsd:double" default="0.00">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Defines the inclination angle of the object.\nThe tip of the object will point toward the South.\nAccepted angles are in the range [0,180]. Default value: 0.\nYou can use the 3D View in the Object node to gauge the effect of the field.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Defines the inclination angle of the object.\nThe tip of the object will point toward the South.\nAccepted angles are in the range [0,180]. Default value: 0.\nYou can use the 3D View in the Object node to gauge the effect of the field.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="zRotDeviation" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Standard deviation used to compute the Gauss probability of the object's precession.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Standard deviation used to compute the Gauss probability of the object's precession.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="yRotDeviation" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Standard deviation used to compute the Gauss probability of the object's nutation.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Standard deviation used to compute the Gauss probability of the object's nutation.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ObjectOpticalProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PropertiesForObject3DTurbidWithLAD" type="_PropertiesForObject3DTurbidWithLAD" minOccurs="1" maxOccurs="1" />
			<xsd:element name="PropertiesForObject3DTurbid" type="_PropertiesForObject3DTurbid" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BackFaceOpticalProperty" type="_BackFaceOpticalProperty" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BackFaceThermalProperty" type="_BackFaceThermalProperty" minOccurs="1" maxOccurs="1" />
			<xsd:element name="SingleGlobalLAIPropertyNode" type="_SingleGlobalLAIPropertyNode" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="isLAICalc" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use for computing LAI</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use for computing LAI</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isSingleGlobalLai" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Force groups converted into turbid volumes to a single combined LAI.\nIf no group is converted, the value is ignored.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Force groups converted into turbid volumes to a single combined LAI.\nIf no group is converted, the value is ignored.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sameOPObject" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply this optical property to all this object's elements.\nReplace any previously defined property.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply this optical property to all this object's elements.\nReplace any previously defined property.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="doubleFace" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Check this option if you want to apply optical properties on each face of the triangles that make up the 3D object.\nIf this option is unchecked, a ray incident on the triangle face opposite to the triangle normal is stopped/lost, whatever the DART mode (R or T).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Check this option if you want to apply optical properties on each face of the triangles that make up the 3D object.\nIf this option is unchecked, a ray incident on the triangle face opposite to the triangle normal is stopped/lost, whatever the DART mode (R or T).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_PropertiesForObject3DTurbidWithLAD">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VegetationOpticalPropertyLink" type="_VegetationOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LAIPropertyNode" type="_LAIPropertyNode" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_VegetationOpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="TurbidLeafDeciduous">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ThermalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexTemperature" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idTemperature" type="xsd:string" default="ThermalFunction290_310">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Thermal Function ID</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Thermal Function ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_LAIPropertyNode">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MultiplicativeLAINode" type="_MultiplicativeLAINode" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ForcedLAINode" type="_ForcedLAINode" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ForcedTotalSurfaceNode" type="_ForcedTotalSurfaceNode" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="forcedLAI" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a proportion factor to the calculated LAI of this object in order to obtain the desired LAI or total leaf area.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a proportion factor to the calculated LAI of this object in order to obtain the desired LAI or total leaf area.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_MultiplicativeLAINode">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="laiMultiplicativeFactor" type="xsd:double" default="1.">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply the given multiplicative factor to the LAI computed by Maket for this group/object.\nFor example, the LAI for needle of pine trees is half (so 0.5) the area of the needle divided by the projected area on the ground.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply the given multiplicative factor to the LAI computed by Maket for this group/object.\nFor example, the LAI for needle of pine trees is half (so 0.5) the area of the needle divided by the projected area on the ground.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ForcedLAINode">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="lai" type="xsd:double" default="1.5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> LAI : total leaf area divided by the projected surface of the object on the ground.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> LAI : total leaf area divided by the projected surface of the object on the ground.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ForcedTotalSurfaceNode">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="totalSurface" type="xsd:double" default="1.5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Total area of leaves.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Total area of leaves.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_PropertiesForObject3DTurbid">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VegetationOpticalPropertyLink" type="_VegetationOpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LAIPropertyNode" type="_LAIPropertyNode" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="indexPremiereFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> indexPremiereFctPhase</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> indexPremiereFctPhase</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ALAsegmentation" type="xsd:int" default="5">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> the 3D object group will be transformed into turbid cells with ellipsoidal phase functions\n Each phase function is characterized by a ALA value, the accuracy of which depends on number of angular sector.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> the 3D object group will be transformed into turbid cells with ellipsoidal phase functions\n Each phase function is characterized by a ALA value, the accuracy of which depends on number of angular sector.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_OpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Index of the DART phase function of the ground of the plot.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="OpticalProperty">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of phase function (lambertian, etc.)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_BackFaceOpticalProperty">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_BackFaceThermalProperty">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_SingleGlobalLAIPropertyNode">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForcedLAINode" type="_ForcedLAINode" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ForcedTotalSurfaceNode" type="_ForcedTotalSurfaceNode" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="laiDefinition" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> LAI Definition</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> LAI Definition</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ObjectTypeProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectTypeLink" type="_ObjectTypeLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="sameOTObject" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define the color/name at the object's level, to all its groups.\nReplace any previously defined type.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define the color/name at the object's level, to all its groups.\nReplace any previously defined type.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ObjectTypeLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexOT" type="xsd:int" default="101">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Color/name Idenfier. Do no modify!</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Color/name Idenfier. Do no modify!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="identOType" type="xsd:string" default="Default_Object">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Color/name.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Color/name.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Groups">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Group" type="_Group" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Group">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PropertiesForObject3DTurbidWithLAD" type="_PropertiesForObject3DTurbidWithLAD" minOccurs="1" maxOccurs="1" />
			<xsd:element name="PropertiesForObject3DTurbid" type="_PropertiesForObject3DTurbid" minOccurs="1" maxOccurs="1" />
			<xsd:element name="GroupOpticalProperties" type="_GroupOpticalProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="GroupTypeProperties" type="_GroupTypeProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Elements" type="_Elements" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="num" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" default="Group">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name. (optional)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name. (optional)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hasElements" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> DO NOT MODIFY!</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> DO NOT MODIFY!</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="groupDEMMode" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Defines how this group behaves toward the DEM, including being an element of the DEM.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Defines how this group behaves toward the DEM, including being an element of the DEM.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hidden" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Hidden object/groups</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Hidden object/groups</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isLAICalc" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use for computing LAI</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use for computing LAI</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_GroupOpticalProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BackFaceOpticalProperty" type="_BackFaceOpticalProperty" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BackFaceThermalProperty" type="_BackFaceThermalProperty" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="sameOPGroup" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply this optical property to all this group's elements.\nReplace any previously defined property.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply this optical property to all this group's elements.\nReplace any previously defined property.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="doubleFace" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Check this option if you want to apply optical properties on each face of the triangles that make up the 3D object.\nIf this option is unchecked, a ray incident on the triangle face opposite to the triangle normal is stopped/lost, whatever the DART mode (R or T).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Check this option if you want to apply optical properties on each face of the triangles that make up the 3D object.\nIf this option is unchecked, a ray incident on the triangle face opposite to the triangle normal is stopped/lost, whatever the DART mode (R or T).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_GroupTypeProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectTypeLink" type="_ObjectTypeLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="sameOTGroup" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define the color/name at the group's level, to all its elements.\nReplace any previously defined type.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define the color/name at the group's level, to all its elements.\nReplace any previously defined type.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Elements">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element" type="_Element" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Element">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectTypeLink" type="_ObjectTypeLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BackFaceOpticalProperty" type="_BackFaceOpticalProperty" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BackFaceThermalProperty" type="_BackFaceThermalProperty" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="num" type="xsd:int" default="2">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" default="Element">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name. (optional)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name. (optional)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="doubleFace" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Check this option if you want to apply optical properties on each face of the triangles that make up the 3D object.\nIf this option is unchecked, a ray incident on the triangle face opposite to the triangle normal is stopped/lost, whatever the DART mode (R or T).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Check this option if you want to apply optical properties on each face of the triangles that make up the 3D object.\nIf this option is unchecked, a ray incident on the triangle face opposite to the triangle normal is stopped/lost, whatever the DART mode (R or T).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ObjectFields">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Field" type="_Field" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_Field">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ModelList" type="_ModelList" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="fieldDescriptionFileName" type="xsd:string" default="ObjectField.txt">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The file must contain : Object number, X position, Y position.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The file must contain : Object number, X position, Y position.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" default="Field">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name. (optional)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name. (optional)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="showObjectPositions" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Objects's positions are taken from the position file.\nDesactivate this option if you experience some slowdown.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ModelList">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Object" type="_Object" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>