pytools4dart/xsdschema/coeff_diff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Element racine -->
	<xsd:annotation>
		<xsd:appinfo>Fichier coeff_diff.xsd -- version 5.7.1</xsd:appinfo> 
		<xsd:documentation xml:lang = "en"> </xsd:documentation> 
		<xsd:documentation xml:lang = "fr"> coeff_diff</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DartFile">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Coeff_diff" type="_Coeff_diff" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" default="5.7.1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Version of the plots.xml file. Depends of the version on DART itself.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="build" type="xsd:string" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="_Coeff_diff">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FluorescenceProductsProperties" type="_FluorescenceProductsProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="LambertianMultiFunctions" type="_LambertianMultiFunctions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="HapkeSpecularMultiFunctions" type="_HapkeSpecularMultiFunctions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RPVMultiFunctions" type="_RPVMultiFunctions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="UnderstoryMultiFunctions" type="_UnderstoryMultiFunctions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="AirMultiFunctions" type="_AirMultiFunctions" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Temperatures" type="_Temperatures" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="fluorescenceFile" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Define yields (PSI, PSII) per triangle - in the order generated by maket.            </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Define yields (PSI, PSII) per triangle - in the order generated by maket.            </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fluorescenceProducts" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Elements which have been defined as fluorescent will fluoresce. Separated images and BRFs will be generated for Photo-System I and II.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Elements which have been defined as fluorescent will fluoresce. Separated images and BRFs will be generated for Photo-System I and II.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_FluorescenceProductsProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="fluorescenceFileName" type="xsd:string" default="yieldsPerTriangle.txt">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the text file that allows one to compute fluorescence mechanims, using radiation already absorbed by the scene.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the text file that allows one to compute fluorescence mechanims, using radiation already absorbed by the scene.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_LambertianMultiFunctions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> LambertianMultiFunctions</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> LambertianMultiFunctions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LambertianMulti" type="_LambertianMulti" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_LambertianMulti">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> LambertianMulti</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> LambertianMulti</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpecularData" type="_SpecularData" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ProspectExternalModule" type="_ProspectExternalModule" minOccurs="1" maxOccurs="1" />
			<xsd:element name="lambertianNodeMultiplicativeFactorForLUT" type="_lambertianNodeMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ModelName" type="xsd:string" default="reflect_equal_1_trans_equal_0_0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Lambertian_vegetation.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useMultiplicativeFactorForLUT" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Lambertian_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSpecular" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use specular</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use specular</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="roStDev" type="xsd:double" default="0.000">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Coefficient of determination : standard deviation / mean. The value provided is considered as corresponding to 3 sigmas.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Coefficient of determination : standard deviation / mean. The value provided is considered as corresponding to 3 sigmas.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_SpecularData">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="specularDatabaseName" type="xsd:string" default="Specular.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Specular database</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Specular database</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularRadianceDistribution" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Radiance distribution around the specular direction (cf. DART handbook ch. II.5.1). </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Radiance distribution around the specular direction (cf. DART handbook ch. II.5.1). </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useRefraction" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> This option requires:\n - to simulate the specular surface with the "double face" option,\n - to store fluxes per direction (it is an option of the DART advanced mode)\nIn the absence of double face, the surface is transparent for fluxes along directions which have an angle smaller than 90deg relative to the surface normal\nIf fluxes are not stored per direction, there is no refraction for fluxes other than sun flux.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> This option requires:\n - to simulate the specular surface with the "double face" option,\n - to store fluxes per direction (it is an option of the DART advanced mode)\nIn the absence of double face, the surface is transparent for fluxes along directions which have an angle smaller than 90deg relative to the surface normal\nIf fluxes are not stored per direction, there is no refraction for fluxes other than sun flux.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularModelName" type="xsd:string" default="basic">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Specular model           </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Specular model           </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ProspectExternalModule">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProspectExternParameters" type="_ProspectExternParameters" minOccurs="1" maxOccurs="1" />
			<xsd:element name="FluorescenceYields" type="_FluorescenceYields" minOccurs="1" maxOccurs="1" />
			<xsd:element name="WindProfileEta" type="_WindProfileEta" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="useProspectExternalModule" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Using Prospect external module. With this option, vegetation optical properties (reflectance and transmittance) come from PROSPECT model (version 3.01) simulation. </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Using Prospect external module. With this option, vegetation optical properties (reflectance and transmittance) come from PROSPECT model (version 3.01) simulation. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="isFluorescent" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> This optical properties generated fluorescence, based on the prospect parameters.                       </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> This optical properties generated fluorescence, based on the prospect parameters.                       </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_ProspectExternParameters">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="CBrown" type="xsd:double" default="0.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Brown pigment content - CBrown (arbitrary unit)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Brown pigment content - CBrown (arbitrary unit)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Cm" type="xsd:double" default="0.01">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Leaf dry matter content - Cm (g.cm-2)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Leaf dry matter content - Cm (g.cm-2)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Car" type="xsd:double" default="10.">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Leaf carotenoid content - Car (\u03BCg.cm-2)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Leaf carotenoid content - Car (\u03BCg.cm-2)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="anthocyanin" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Anthocyanin content (\u03BCg.cm-2)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Anthocyanin content (\u03BCg.cm-2)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="N" type="xsd:double" default="1.8">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Leaf internal structure parameter - N</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Leaf internal structure parameter - N</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="inputProspectFile" type="xsd:string" default="Prospect_Fluspect/Prospect_6D_2015.txt">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Input prospect database file</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Input prospect database file</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Cab" type="xsd:double" default="30">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Leaf chlorophyll a+b content - Cab (\u03BCg.cm-2)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Leaf chlorophyll a+b content - Cab (\u03BCg.cm-2)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Cw" type="xsd:double" default="0.012">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Leaf equivalent water thickness - Cw (cm)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Leaf equivalent water thickness - Cw (cm)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_FluorescenceYields">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Yields" type="_Yields" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="forceYields" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Override the yields par triangle file                        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Override the yields par triangle file                        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Yields">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="yieldPSI" type="xsd:double" default="0.002">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Yield of the photo-system I                        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Yield of the photo-system I                        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="yieldPSII" type="xsd:double" default="0.01">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Yield of the photo-system II                        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Yield of the photo-system II                        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_WindProfileEta">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BioClimaticWeighting" type="_BioClimaticWeighting" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="useBioClimaticWeighting" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Provides to DART a profile of coefficient for the thermal emission depending on the height and angles of the fluorescing surface. These coefficients depend on the profile of winds and temperature and can provided by the SCOPE model, for example.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Provides to DART a profile of coefficient for the thermal emission depending on the height and angles of the fluorescing surface. These coefficients depend on the profile of winds and temperature and can provided by the SCOPE model, for example.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_BioClimaticWeighting">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="profileFilePath" type="xsd:string" default="profileEta.bin">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> The path to the Bio-Climatic file                        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> The path to the Bio-Climatic file                        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="linkedOpticalProperty" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> In order to define which layer a scene element belongs to, DART will compute the minimum and maximum altitude of all the objects using this optical property.\nThe layers are then distributed equaly between this minimum and maximum.\nIf 2 optical properties are linked, then the minimum and maximum will be computed using their combined associated objects.\n</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> In order to define which layer a scene element belongs to, DART will compute the minimum and maximum altitude of all the objects using this optical property.\nThe layers are then distributed equaly between this minimum and maximum.\nIf 2 optical properties are linked, then the minimum and maximum will be computed using their combined associated objects.\n</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_OpticalPropertyLink">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="indexFctPhase" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Optical property index                          </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Optical property index                          </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="linkedOpticalProperty">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Linked Optical property name                          </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Linked Optical property name                          </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Type of optical property                          </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Type of optical property                          </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_lambertianNodeMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> nodeMultiplicativeFactorForLUT</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> nodeMultiplicativeFactorForLUT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="lambertianMultiplicativeFactorForLUT" type="_lambertianMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="diffuseTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Diffuse transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Diffuse transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="reflectanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Direct transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Direct transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameFactorForAllBands" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameOpticalFactorMatrixForAllBands" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularIntensityFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Specular intensity     </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Specular intensity     </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_lambertianMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> lambertianMultiplicativeFactorForLUT</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> lambertianMultiplicativeFactorForLUT</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="diffuseTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Diffuse transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Diffuse transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Direct transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Direct transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="reflectanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> reflectanceFactor</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> reflectanceFactor</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularIntensityFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Specular intensity    </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Specular intensity    </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_opticalFactorMatrix">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="duplicateFirstMatrixLayer" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="opticalFactorMatrixFile" type="xsd:string" default="choose">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> 3D factor matrix text file, organized from bottom to top altitude layers\nOrdered like the schematic view in simulation editor, origin top-left:\ncolumns (y) - lines (x) - altitudes (z)\nAccepted field separators: semi-column, space, tab</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> 3D factor matrix text file, organized from bottom to top altitude layers\nOrdered like the schematic view in simulation editor, origin top-left:\ncolumns (y) - lines (x) - altitudes (z)\nAccepted field separators: semi-column, space, tab</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_HapkeSpecularMultiFunctions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HapkeSpecularMulti" type="_HapkeSpecularMulti" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_HapkeSpecularMulti">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpecularData" type="_SpecularData" minOccurs="1" maxOccurs="1" />
			<xsd:element name="HapkeExternalModules" type="_HapkeExternalModules" minOccurs="1" maxOccurs="1" />
			<xsd:element name="hapkeNodeMultiplicativeFactorForLUT" type="_hapkeNodeMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ModelName" type="xsd:string" default="all_equal_to_one">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useExternalModule" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Using Hapke external module. With this option, it's possible to retrieve (with genetic algorithm) Hapke model parameters from measurements or Dart simulations.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Using Hapke external module. With this option, it's possible to retrieve (with genetic algorithm) Hapke model parameters from measurements or Dart simulations.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="transmittanceDatabaseName" type="xsd:string" default="Lambertian_vegetation.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Transmittance database    </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Transmittance database    </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSpecular" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use specular</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use specular</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Hapke_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="transmittanceModelName" type="xsd:string" default="reflect_equal_1_trans_equal_1_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Transmittance model</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Transmittance model</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Hapke.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useMultiplicativeFactorForLUT" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_HapkeExternalModules">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HapkeExternalModule" type="_HapkeExternalModule" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_HapkeExternalModule">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="soilSpecFlag" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> 0) or 7 parameters of Hapke extend model. </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> 0) or 7 parameters of Hapke extend model. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeInputFile" type="xsd:string" default="hapke_input.txt">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Input FileName used by Hapke external module </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Input FileName used by Hapke external module </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="choiceOfHapkeModel" type="xsd:string" default="New">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Hapke model name</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Hapke model name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_hapkeNodeMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="hapkeMultiplicativeFactorForLUT" type="_hapkeMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="diffuseTransmittanceFactor" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Diffuse transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Diffuse transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directTransmittanceFactor" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Direct transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Direct transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterH1" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> H1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> H1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterH2" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> H2               </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> H2               </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularIntensityFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameOpticalFactorMatrixForAllBands" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC4" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C4</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C4</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC1" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC3" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C3</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C3</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC2" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C2</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameFactorForAllBands" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterW" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> W                  </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> W                  </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_hapkeMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="diffuseTransmittanceFactor" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Diffuse transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Diffuse transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directTransmittanceFactor" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Direct transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Direct transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterH1" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> H1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> H1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterH2" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> H2   </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> H2   </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularIntensityFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC4" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C4</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C4</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC1" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C1</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC3" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C3</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C3</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterC2" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> C2</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> C2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hapkeParameterW" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> W                  </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> W                  </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RPVMultiFunctions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RPVMulti" type="_RPVMulti" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_RPVMulti">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpecularData" type="_SpecularData" minOccurs="1" maxOccurs="1" />
			<xsd:element name="RPVNodeMultiplicativeFactorForLUT" type="_RPVNodeMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ModelName" type="xsd:string" default="basic">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="transmittanceModelName" type="xsd:string" default="reflect_equal_1_trans_equal_0_0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Transmittance model  </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Transmittance model  </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="RPV.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useMultiplicativeFactorForLUT" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="transmittanceDatabaseName" type="xsd:string" default="Lambertian_vegetation.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Transmittance database                    </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Transmittance database                    </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="RPV_Phase_Function_1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSpecular" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use specular</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use specular</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RPVNodeMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RPVMultiplicativeFactorForLUT" type="_RPVMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="g_RPVMultiplicativeFactor" type="xsd:double" default="0.1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> g</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> g</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="diffuseTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Diffuse transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Diffuse transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Direct transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Direct transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="k_RPVMultiplicativeFactor" type="xsd:double" default="0.95">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> k</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> k</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameOpticalFactorMatrixForAllBands" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="h_RPVMultiplicativeFactor" type="xsd:double" default="0.7">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> h</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> h</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameFactorForAllBands" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="rhoZero_RPVMultiplicativeFactor" type="xsd:double" default="0.70">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Rho_0</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Rho_0</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularIntensityFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_RPVMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="g_RPVMultiplicativeFactor" type="xsd:double" default="0.1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> g</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> g</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="diffuseTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Diffuse transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Diffuse transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="directTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Direct transmittance</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Direct transmittance</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="k_RPVMultiplicativeFactor" type="xsd:double" default="0.95">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> k</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> k</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="h_RPVMultiplicativeFactor" type="xsd:double" default="0.7">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> h</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> h</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="rhoZero_RPVMultiplicativeFactor" type="xsd:double" default="0.70">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Rho_0</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Rho_0</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="specularIntensityFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable specular intensity values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_UnderstoryMultiFunctions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UnderstoryMulti" type="_UnderstoryMulti" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="integrationStepOnTheta" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Integration step on theta for the computation of phase functions (1 - 90).\nThe algorithm takes the nearest value from :  1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Integration step on theta for the computation of phase functions (1 - 90).\nThe algorithm takes the nearest value from :  1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="integrationStepOnPhi" type="xsd:int" default="10">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Integration step on phi for the computation of phase functions (1 - 360).\nThe algorithm takes the nearest value from :  1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 18, 20, 24, 30, 36, 40, 45, 60, 72, 90, 120, 180, 360</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Integration step on phi for the computation of phase functions (1 - 360).\nThe algorithm takes the nearest value from :  1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 18, 20, 24, 30, 36, 40, 45, 60, 72, 90, 120, 180, 360</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="outputLADFile" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Write computed LAD into the file : output/lib_phase/LAD.txt</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Write computed LAD into the file : output/lib_phase/LAD.txt</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_UnderstoryMulti">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpecularData" type="_SpecularData" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Ellipsoidal" type="_Ellipsoidal" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Elliptical" type="_Elliptical" minOccurs="1" maxOccurs="1" />
			<xsd:element name="UserDefined" type="_UserDefined" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Manual" type="_Manual" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BoundedUniform" type="_BoundedUniform" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DirectionalClumpingIndexProperties" type="_DirectionalClumpingIndexProperties" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ProspectExternalModule" type="_ProspectExternalModule" minOccurs="1" maxOccurs="1" />
			<xsd:element name="understoryNodeMultiplicativeFactorForLUT" type="_understoryNodeMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ModelName" type="xsd:string" default="leaf_deciduous">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dimFoliar" type="xsd:double" default="0.01">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> 0 for no hot spot)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> 0 for no hot spot)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lad" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Leaf Angle Distribution\nNot used for "Triangle" to "Turbid" transformation.\nIn that case, there are several LADs and these LADs are ellipsoidal</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Leaf Angle Distribution\nNot used for "Triangle" to "Turbid" transformation.\nIn that case, there are several LADs and these LADs are ellipsoidal</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSpecular" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use specular</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use specular</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ident" type="xsd:string" default="Turbid_Leaf_Deciduous_Phase_Function">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Vegetation.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useMultiplicativeFactorForLUT" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> useMultiplicativeFactorForLUT</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Ellipsoidal">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="ala" type="xsd:double" default="0.000">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Average leaf angle for the ellipsoidal leaf angle distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Average leaf angle for the ellipsoidal leaf angle distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Elliptical">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="epsilon" type="xsd:double" default="0.000">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Excentricity of the elliptical leaf angle distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Excentricity of the elliptical leaf angle distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="thetam" type="xsd:double" default="0.000">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Angle of the principal axis of the ellipse (elliptical LAD)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Angle of the principal axis of the ellipse (elliptical LAD)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_UserDefined">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="fileName" type="xsd:string" default="LADFile.txt">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Manual">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="LAD_m" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> A cos ^m [PI/2 Theta-b0 /b2-b0]</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> A cos ^m [PI/2 Theta-b0 /b2-b0]</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LAD_b2" type="xsd:double" default="90">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Maximum angle of leaf distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Maximum angle of leaf distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LAD_b0" type="xsd:double" default="45">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Mean angle of leaf distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Mean angle of leaf distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LAD_b1" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Minimum angle of leaf distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Minimum angle of leaf distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_BoundedUniform">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="nbAla" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Number of angluar segmentation for leaf angle distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Number of angluar segmentation for leaf angle distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="nthAla" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Umpteenth angluar segment of computed leaf angle distribution</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Umpteenth angluar segment of computed leaf angle distribution</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_DirectionalClumpingIndexProperties">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="omegaMax" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> See tool tip of Omega Min</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> See tool tip of Omega Min</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="clumpinga" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> See tool tip of Omega Min</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> See tool tip of Omega Min</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="clumpingb" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> See tool tip of Omega Min</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> See tool tip of Omega Min</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="omegaMin" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> G(teta)_with_clumping </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> G(teta)_with_clumping </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_understoryNodeMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="understoryMultiplicativeFactorForLUT" type="_understoryMultiplicativeFactorForLUT" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="useSameFactorForAllBands" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> When selected, the parameters values of every spectral band will be equal to these parameters.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="adaxialReflectanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable adaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable adaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameOpticalFactorMatrixForAllBands" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="abaxialReflectanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable abaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable abaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LeafTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable leaf transmittance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable leaf transmittance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_understoryMultiplicativeFactorForLUT">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="abaxialReflectanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable abaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable abaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="adaxialReflectanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable adaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable adaxial leaf reflectance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LeafTransmittanceFactor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Necessary for building up LUT tables with variable leaf transmittance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Necessary for building up LUT tables with variable leaf transmittance values. \nA multispectral LUT can be computed applying the sequencer to DART mutispectral simulation with one spectral band each.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_AirMultiFunctions">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AirFunction" type="_AirFunction" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_AirFunction">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AirFunctionNodeMultiplicativeFactorForLut" type="_AirFunctionNodeMultiplicativeFactorForLut" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="ident" type="xsd:string" default="Molecule">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> proportion of photons intercepted along an incident direction that are scattered within a solid angle along a given direction</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ModelName" type="xsd:string" default="rayleigh_gas">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Name of the spectral data base (text file) used to compute the spectral phase function(s)</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="databaseName" type="xsd:string" default="Fluid.db">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Reflectance database        </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Reflectance database        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useMultiplicativeFactorForLUT" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for database </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for database </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_AirFunctionNodeMultiplicativeFactorForLut">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Mutiplicative factor per spectral bands</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Mutiplicative factor per spectral bands</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AirFunctionMultiplicativeFactorForLut" type="_AirFunctionMultiplicativeFactorForLut" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="multiplicativeFactor1" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for coefficient A if model is Henley Greenstein \nMultiplicative factor for coefficient A if model is Rayleigh</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for coefficient A if model is Henley Greenstein \nMultiplicative factor for coefficient A if model is Rayleigh</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicativeFactor2" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for coefficient G1 if model is Henley Greenstein \nMultiplicative factor for coefficient C if model is Rayleigh</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for coefficient G1 if model is Henley Greenstein \nMultiplicative factor for coefficient C if model is Rayleigh</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicativeFactor3" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for coefficient G2 if model is Henley Greenstein \nThis field is ignored if model is RayLeigh</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for coefficient G2 if model is Henley Greenstein \nThis field is ignored if model is RayLeigh</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameFactorForAllBands" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Use same multiplicator for every band              </xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Use same multiplicator for every band              </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useSameOpticalFactorMatrixForAllBands" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply the same 3D factor matrix per cell on optical properties to all the spectral bands</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sigma" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for Sigma</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for Sigma</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="albedo" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for Albedo</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for Albedo</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_AirFunctionMultiplicativeFactorForLut">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> Spectral band</xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> Spectral band</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="multiplicativeFactor1" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for coefficient A if model is Henley Greenstein \nMultiplicative factor for coefficient A if model is Rayleigh</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for coefficient A if model is Henley Greenstein \nMultiplicative factor for coefficient A if model is Rayleigh</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicativeFactor2" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for coefficient G1 if model is Henley Greenstein \nMultiplicative factor for coefficient C if model is Rayleigh</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for coefficient G1 if model is Henley Greenstein \nMultiplicative factor for coefficient C if model is Rayleigh</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicativeFactor3" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for coefficient G2 if model is Henley Greenstein \nThis field is ignored if model is RayLeigh</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for coefficient G2 if model is Henley Greenstein \nThis field is ignored if model is RayLeigh</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sigma" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for Sigma</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for Sigma</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="albedo" type="xsd:double" default="1.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Multiplicative factor for Albedo</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Multiplicative factor for Albedo</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="_Temperatures">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ThermalFunction" type="_ThermalFunction" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="_ThermalFunction">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en"> </xsd:documentation> 
			<xsd:documentation xml:lang = "fr"> </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="opticalFactorMatrix" type="_opticalFactorMatrix" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="meanT" type="xsd:double" default="300.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Mean temperature</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Mean temperature</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="idTemperature" type="xsd:string" default="ThermalFunction290_310">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Thermal Function ID</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Thermal Function ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="deltaT" type="xsd:double" default="20.0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> delta temperature : object temperature defined by a function of temperature will be between [meanT - deltaT/2 ; meanT + deltaT/2]</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> delta temperature : object temperature defined by a function of temperature will be between [meanT - deltaT/2 ; meanT + deltaT/2]</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useOpticalFactorMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Apply a 3D factor matrix per cell on optical properties</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="override3DMatrix" type="xsd:int" default="0">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> Elements of the scene using a thermal function with this option enabled will ignore the temperature provided by the 3D Matrix option.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> Elements of the scene using a thermal function with this option enabled will ignore the temperature provided by the 3D Matrix option.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="singleTemperatureSurface" type="xsd:int" default="1">
			<xsd:annotation>
				<xsd:documentation xml:lang = "en" source="attribut"> If checked, a single temperature will be applied to both side of the surfaces, namely the maximum.\nOtherwise, each side may have a different temperature depending on their individual illumination.</xsd:documentation> 
				<xsd:documentation xml:lang = "fr" source="attribut"> If checked, a single temperature will be applied to both side of the surfaces, namely the maximum.\nOtherwise, each side may have a different temperature depending on their individual illumination.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

</xsd:schema>