pytools4dart/xsdschema/triangleFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="DARTXmlDoc.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
    <!--  Element Racine -->
    <xsd:annotation>
		<xsd:appinfo>
    		Fichier triangleFile.xsd -- version 5.5.0
    	</xsd:appinfo>
		<xsd:documentation xml:lang="en">
		</xsd:documentation>
		<xsd:documentation xml:lang="fr">
		</xsd:documentation>
	</xsd:annotation>
    <xsd:element name="DartFile">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr">
				</xsd:documentation>
			</xsd:annotation>
	    	<xsd:sequence>
	    		<xsd:element name="TriangleFile" type="_TriangleFile" maxOccurs="1" minOccurs="1" />
	    	</xsd:sequence>
	    	<xsd:attribute name="version" type="xsd:string">
	    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
	    </xsd:complexType>
	</xsd:element>
	    
    <xsd:complexType name="_TriangleFile">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="Object" type="_Object" maxOccurs="unbounded" minOccurs="0" />
    	</xsd:sequence>
    	<xsd:attribute name="triangleStorageMode" type="xsd:int" default="0">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="_Object">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="Transformation" type="_Transformation" maxOccurs="1" minOccurs="1" />
    		<xsd:element name="BoundingBox" type="_BoundingBox" maxOccurs="1" minOccurs="1" />
    		<xsd:element name="TriangleList" type="_TriangleList" maxOccurs="unbounded" minOccurs="1" />
    	</xsd:sequence>
    	<xsd:attribute name="height" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="modeDSM" type="xsd:int" default="0">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="forcedLAI" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="forcedLAI_Surface_Value" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="repeatedOnBorder" type="xsd:int" default="1">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>    
    
    <xsd:complexType name="_Transformation">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="M00" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M01" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M02" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M10" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M11" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M12" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M20" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M21" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M22" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M03_xPos" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M13_yPos" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="M23_zPos" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

		<xsd:complexType name="_BoundingBox">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="LowerCorner" type="_LowerCorner" maxOccurs="1" minOccurs="1" />
    		<xsd:element name="UpperCorner" type="_UpperCorner" maxOccurs="1" minOccurs="1" />
    	</xsd:sequence>    	
    </xsd:complexType>
    
    <xsd:complexType name="_LowerCorner">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="x" type="xsd:double" default="0.">
    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>  
    	<xsd:attribute name="y" type="xsd:double" default="0.">
    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute> 
    	<xsd:attribute name="z" type="xsd:double" default="0.">
    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>  	
    </xsd:complexType>   
    
    <xsd:complexType name="_UpperCorner">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="x" type="xsd:double" default="0.">
    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>  
    	<xsd:attribute name="y" type="xsd:double" default="0.">
    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute> 
    	<xsd:attribute name="z" type="xsd:double" default="0.">
    		<xsd:annotation>
					<xsd:documentation xml:lang="en" source="attribut">
					</xsd:documentation>
					<xsd:documentation xml:lang="fr" source="attribut">
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>  	
    </xsd:complexType>  
    
    <xsd:complexType name="_TriangleList">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="OpticalPropertyLink" type="_OpticalPropertyLink" maxOccurs="1" minOccurs="1" />
    		<xsd:element name="BackFaceOpticalPropertyLink" type="_BackFaceOpticalPropertyLink" maxOccurs="1" minOccurs="0" />
    		<xsd:element name="ThermalPropertyLink" type="_ThermalPropertyLink" maxOccurs="1" minOccurs="1" />
    		<xsd:element name="BackFaceThermalPropertyLink" type="_BackFaceThermalPropertyLink" maxOccurs="1" minOccurs="0" />
    		<xsd:element name="TRIFileReference" type="_TRIFileReference" maxOccurs="1" minOccurs="1" />
    	</xsd:sequence>
    	<xsd:attribute name="type" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="nbTriangles" type="xsd:int" default="0">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="modeDSM" type="xsd:int" default="0">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="doubleFace" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="IsLAICalc" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="LeafPF" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="ALASegmentation" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="forcedLAI" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="forcedLAI_Surface_Value" type="xsd:double">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="_OpticalPropertyLink">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="type" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="indexFctPhase" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="_BackFaceOpticalPropertyLink">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="type" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    	<xsd:attribute name="indexFctPhase" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="_ThermalPropertyLink">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="indexIntervalle" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="_BackFaceThermalPropertyLink">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="indexIntervalle" type="xsd:int">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="_TRIFileReference">
    	<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
			<xsd:documentation xml:lang="fr">
			</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    	</xsd:sequence>
    	<xsd:attribute name="fileName" type="xsd:string">
    		<xsd:annotation>
				<xsd:documentation xml:lang="en" source="attribut">
				</xsd:documentation>
				<xsd:documentation xml:lang="fr" source="attribut">
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

</xsd:schema>
